.container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background: url(../images/header_image.jpg) no-repeat top center;
  background-size: cover;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.headerOverlay {
  background: rgba(20,20,30,.5)
}

.headerTop {
  padding: 20px 0;
  background: rgba(60,60,60,.5);
}

.logoContainer {
  flex: 1;
}

.logo {
  display: block;
  height: 40px;
  margin: 5px 0;
}

.navigation {
  flex: 0 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
  margin: 0px;
  list-style: none;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;

  li {
    flex: 0 0 auto;
    text-align: -webkit-match-parent;
    margin-bottom: 0;

    a {
      display: block;
      padding: 12px 26px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

      &:hover {
        color: #89C53F;
      }
    }
  }
}

.teaser {
  color: #fff;

  h1 {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }

  h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #89C53F;
    letter-spacing: 0.1em;
    margin: 0;
  }

  p {
    color: #fff;
  }

  a.teaserButton {
    display: inline-block;
    border: 2px solid #89C53F;
    padding: 10px 40px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;

    &:hover {
      background-color: #89C53F;
    }
  }
}

.teaserContentWrap {
  max-height: 820px;
  padding: 80px 0;
}