.container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1.5rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  overflow: visible;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

  .headerImage {
    grid-column: 1 / 7;
    grid-row: 1;
    z-index: 1;
    height: 5rem
  }

  .headerOverlay {
    grid-column: 1 / 7;
    grid-row: 1;
    background: rgba(20,20,30,.5);
    z-index: 10;
  }

  &.with-teaser {
    .headerImage {
      height: 100%;
    }
  }
}

.headerTop {
  flex: 1 1;
  padding: 20px 0;
  background: rgba(60,60,60,.5);
}

.logoContainer {
  flex: 1;
}

nav {
  flex: 1;
}

.logo {
  display: block;
  height: 40px;
  margin: 5px 0;
}

.navigation {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px;
  padding-top: 20px;
  background-color: rgba(112, 128, 144, 0.95);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
  list-style: none;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;

  li {
    flex: 0 0 auto;
    text-align: -webkit-match-parent;
    margin-bottom: 0;

    a {
      display: block;
      padding: 12px 26px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

      &:hover {
        color: #89C53F;
      }
    }
  }
}

.navigationHide {
  display: none;
}

.menuToogle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 32px;
  right: 30px;
  height: 22px;
  width: 22px;

  label {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;

    input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
    }

    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
      height: 3px;
      width: 100%;
      background-color: #fff;
    }
    
    input[type=checkbox]:checked ~ .spinner {
      opacity: 0;
    }

    input[type=checkbox]:checked ~ .spinner:nth-child(2) {
      transform: rotate(135deg);
      margin-top: 8px;
      opacity: 1;
    }

    input[type=checkbox]:checked ~ .spinner:last-child {
      transform: rotate(-135deg);
      margin-top: -9px;
      opacity: 1;
    }
  }
}

.teaser {
  color: #fff;

  h1 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    line-height: 2rem;
    font-family: 'Ubuntu', 'Droid Sans', 'Helvetica', 'serif';
    margin-top: 0;
  }

  h3 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #89C53F;
    letter-spacing: 0.1em;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #fff;
  }

  a.teaserButton {
    display: inline-block;
    border: 2px solid #89C53F;
    padding: 10px 40px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;

    &:hover {
      background-color: #89C53F;
    }
  }
}

.teaserContentWrap {
  max-height: 820px;
  padding: 20px 0;
}


@media only screen and (min-width: 768px) {
  .teaserContentWrap {
    padding: 40px 0;
  }

  .teaser {
    h1 {
      font-size: 30px;
      line-height: 2rem;
    }
  }
}


@media only screen and (min-width: 991px) {
  .menuToogle {
    display: none;
  }

  .navigation {
    position: relative;
    background: none;
    flex: 0 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
    margin: 0px;
    list-style: none;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;

    li {
      flex: 0 0 auto;
      text-align: -webkit-match-parent;
      margin-bottom: 0;

      a {
        display: block;
        padding: 12px 26px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

        &:hover {
          color: #89C53F;
        }
      }
    }
  }

  .teaserContentWrap {
    padding: 80px 0;
  }

  .teaser {
    h1 {
      font-size: 60px;
      line-height: 3rem;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}
